<div class="is-flex is-justify-content-space-between is-align-items-center mb-2 coach-row">
    <span class="has-text-grey">Coach</span>
    <div class="field is-grouped is-grouped-right mb-0">
        <form
            hx-put="{{ url_for('dashboard_assessments_page') }}"
            hx-select=".bat-main-content"
            hx-target=".bat-main-content"
            hx-swap="outerHTML"
            hx-trigger="change"
            hx-ext="json-enc"
            class="field is-grouped mb-0">
            <div class="control">
                <div class="select is-small">
                    <select name="new_coach_id">
                        {% for coach in coaches %}
                        <option value="{{ coach.user_id }}" {% if assessment.coach_id == coach.user_id %}selected{% endif %}>{{ coach.username }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control">
                <button type="button" class="button is-small is-warning is-light"
                    hx-get="{{ url_for('dashboard_assessments_page') }}"
                    hx-select=".bat-main-content"
                    hx-target=".bat-main-content"
                    hx-swap="outerHTML">
                    ✕
                </button>
            </div>
            <input type="hidden" name="assessment_id" value="{{ assessment_id }}">
        </form>
    </div>
</div>
