{% set branding = get_branding() %}
<section class="footer has-background-text-95 p-3">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="{{ url_for("homepage") }}">
                    <img class="footer-logo" src="{{ url_for("images", path=branding.logo_filename) }}" alt="BAT Tool Logo">
                </a>
            </div>
            <div class="column is-flex is-justify-content-center is-align-items-center">
                <a class="button is-link is-outlined px-5" href="{{ branding.feedback_url }}" target="_blank" rel="noopener noreferrer">{{ branding.feedback_button_text }}</a>
            </div>
            <div class="column is-flex is-justify-content-center is-align-items-center">
                <p>Developed by <a href="{{ branding.organization_url }}" target="_blank" rel="noopener noreferrer">{{ branding.organization_name }}</a></p>
            </div>
        </div>
    </div>
</section>
