{# This is the root page of the questions link. Other sublinks are derived from this page #}

{% extends "dashboard/dashboard.html" %}
{% block body %}
<section class="bat-main-content is-flex pt-6">
    <div class="container">
        {% block body_content %}
        <h2 class="title is-2 has-text-centered">{{ title }}</h2>
        <div class="columns">
            <div class="column">
                <div class="button is-link is-light"
                    hx-get="{{ url_for("dashboard_assessment_page") }}/{{ "
                    hx-select=""
                    hx-target=""
                    hx-swap=""
                    hx-push-url="true"
                    >
                    
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column assessment-wheel-panel is-two-fifths">
                {% include "wheel/wheel-review.svg" %}
            </div>
            <div id="assessment-question-panel" class="column">
            </div>

        </div>
        {% endblock %}
    </div>
    <script src="{{ url_for("js", path="wheel-labels.js") }}"></script>
</section>
{% endblock %}
